:root {
    --side-width: 30vh;
    --grid-size-l: 70vh;
    --border-space: 4vh;
}

/* ---------------------------------------------------------------------- */
/* ------------------------------ T I T L E ----------------------------- */
/* ---------------------------------------------------------------------- */

.title-container {
    /* border: 1px solid saddlebrown; */
    width: calc(var(--grid-size-l) + calc(var(--border-space) * 2));
    align-self: flex-start;
    margin-left: calc(var(--side-width) + var(--gap));
}

/* ---------------------------------------------------------------------- */
/* ------------------- G A M E --- C O N T A I N E R -------------------- */
/* ---------------------------------------------------------------------- */

.game-container {
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 5vmin;
}

/* -------------------------------------------------- */
/* -------------- L E F T --- P A N E L ------------- */
/* -------------------------------------------------- */
.left-panel {
    max-width: var(--side-width);
}


/* ---------- S I Z E --- s l i d e r ----------- */
.size-panel {
    justify-content: space-around;
    max-width: 100%;
    /* border: 2px dashed #e5340b; */
}

.size-slider-wrapper {
    width: 80%;
    /* border: 3px solid fuchsia; */
}

#size-value {
    flex:1;
    /* border: 2px solid blue; */
}
.slider#size-range {
    width: 100%;
} 



/* -------------- B U T T O N S ------------- */

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* border: 3px solid saddlebrown; */

}

button:hover, .selected-btn {
    margin: 0;
    margin-left: -0.8vmin;
    margin-bottom: -0.8vmin;
}

.clear-btn-cont,
.default-btn-cont,
.random-btn-cont,
.erase-btn-cont,
.darken-btn-cont {
    /* border: 1px solid greenyellow; */

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid saddlebrown; */
}


/* -------------------------------------------------- */
/* -----------------  G  R  I  D  ------------------- */
/* -------------------------------------------------- */
.grid-container {
    height: var(--grid-size-l);
    width: var(--grid-size-l);
}


/* -------------------------------------------------- */
/* -------------- C O L O R --P A N E L ------------- */
/* -------------------------------------------------- */
.color-container {
    /* border: 5px solid salmon; */
    width: 20vh;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(33, 139, 19); */
    box-shadow: inset 3px 3px 5px rgba(70, 70, 70, 0.8),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);

}
.color-panel {
    width: calc(var(--grid-size-l) + calc(var(--border-space) * 2));
    height: 17vh;
    padding: 2vh;
    transform: rotate(270deg);
    /* border: 2px solid salmon; */   
}

/* -------- H S L  ---  S L I D E R S ----------- */
.color-sliders {    
    width: 58vh;
    height: 100%;
    align-self: center;
    justify-self: center;
} 

#hue-range, 
#sat-range,
#light-range {
    height: 2.2vh;
    width: 100%;
}


.slider#hue-range::-webkit-slider-thumb,
.slider#sat-range::-webkit-slider-thumb,
.slider#light-range::-webkit-slider-thumb  {
    -webkit-appearance: none; 
    appearance: none;
    background: #36362d;
    width: 1vh; 
    height: 4vh;
    border-radius: 4px;
}

.slider#hue-range::-moz-range-thumb,
.slider#sat-range::-moz-range-thumb,
.slider#light-range::-moz-range-thumb  {
    background: #36362d;
    width: 1vh; 
    height: 4vh;
    border-radius: 4px;
}

/* ----------- Color --- V A L U E S ------------ */
.color-values > div {
    font-size: 4vh;
    font-family: 'Caladea', serif;
}
