:root {
    --color: #5355dbb7;
    --panel-color: #fff6e6;
    --hue: 0;
    --sat: 100%;
    --light: 50%;
    --grid-size: 86vmin;
    --grid-border: 4vmin;
    --panel-size: calc(var(--grid-size) + calc(var(--grid-border) * 2));
    --gap: 3vmin;
    --thumb-size-color: 4vmin;
    --thumb-size-size: 3vmin;
    --secondary-font: 'Cookie', cursive;
    --box-shadow: inset 0.6vmin 0.6vmin 0.8vmin rgba(70, 70, 70, 0.7),
                  inset -0.6vmin -0.6vmin 0.5vmin rgba(255, 255, 255, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 5vmin;
}


/* ----------------------------------------------------- */

body {
    background-color: var(--color);
    color: black;
    display: flex;
    justify-content: center;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

/* --------------------sliders-------------------------- */

.slider {
    -webkit-appearance: none;
    appearance: none;
}


/* ---------------------------------------------------------------------- */
/* ------------------------------ T I T L E ----------------------------- */
/* ---------------------------------------------------------------------- */

.title-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.game-title {
    width: var(--panel-size);   
    color: rgb(255, 255, 255);
    font-size: 10vmin;
    font-family: 'Fascinate', cursive;
    text-align: center; 
    text-shadow: -0.3vmin 0 #FFE7BD,
                 -0.6vmin 0 #e5340b,
                 -0.9vmin 0 #0b0835,
                 -1.2vmin 0 #0c5679,
                 -1.5vmin 0 #3f8a8c;
}

/* ---------------------------------------------------------------------- */
/* ------------------- G A M E --- C O N T A I N E R -------------------- */
/* ---------------------------------------------------------------------- */

.game-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

/* -------------------------------------------------- */
/* -------------- L E F T --- P A N E L ------------- */
/* -------------------------------------------------- */

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

/* ---------- S I Z E --- s l i d e r ----------- */
.size-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: var(--panel-size);
    padding: 2vmin;
    border-radius: 5px;
    background-color: var(--panel-color);
    box-shadow: var(--box-shadow);

}

#size-value {
    min-width: 3ch;
    font-size: 4vmin;
}

.size-slider-wrapper{
    display: flex;
    justify-content: center;
    width: 80%;
}

.slider#size-range {
    height: 1vmin;
    width: 100%;
    background:#0b0835;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.slider#size-range:hover {
    opacity: 0.8;
}


.slider#size-range::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: var(--thumb-size-size); 
    height: var(--thumb-size-size);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: black;
    box-shadow: inset 0.7vmin 0.7vmin 1vmin black,
                inset -0.7vmin -0.7vmin 1vmin rgba(0, 0, 0, 0.733);
}

.slider#size-range::-moz-range-thumb {
    appearance: none;
    background:black;
    width: var(--thumb-size-size); 
    height: var(--thumb-size-size);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider#size-range::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 1vmin 0.3vmin var(--color);
}

.slider#size-range::-moz-range-thumb:hover {
    box-shadow: 0px 0px 1vmin 0.3vmin var(--color);
}

/* -------------- B U T T O N S ------------- */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: var(--panel-size);
    box-shadow: var(--box-shadow);
    padding: 1.5vmin;
    border-radius: 5px;
    background-color: var(--panel-color);
    font-family: var(--secondary-font);
    font-weight: 700;
}

button {
    border-radius: 50%;
    box-shadow: 0.2vmin 0.2vmin 0 0 #31327eb7,
                0.4vmin 0.4vmin 0 0 #31327eb7,
                0.6vmin 0.6vmin 0 0 #31327eb7,
                0.8vmin 0.8vmin 0 0 #282968de,
                1.2vmin 1.2vmin 0.5vmin rgba(70, 70, 70, 0.72);
    background-color: #5355dbb7;
    height: 8vmin;
    width: 8vmin;
    border: 0.4vmin solid #5355dbb7;
    border: none;
    margin-right: 0.8vmin;
    margin-bottom: 0.8vmin;
}

button:hover, .selected-btn {
    margin-right: -0.8vmin;
    margin-bottom: -0.8vmin;
    margin-left: 0.8vmin;
    margin-top: 0.8vmin;
    border: 0.4vmin solid #5355dbb7;
    background-color: #5355dbb7;
    box-shadow: none;
}

.clear-btn-cont,
.default-btn-cont,
.random-btn-cont,
.erase-btn-cont,
.darken-btn-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vmin;
    gap: 1vmin;
}

/* -------------------------------------------------- */
/* -----------------  G  R  I  D  ------------------- */
/* -------------------------------------------------- */

.grid-container {
    
    display: flex;
    flex-direction: column;
    background-color: var(--color);
    border-radius: 5px;
    box-shadow: 0 0 0 0.8vmin #FFE7BD,
                0 0 0 1.6vmin #e5340b,
                0 0 0 2.4vmin #0b0835,
                0 0 0 3.2vmin #0c5679,
                0 0 0 4vmin #3f8a8c;
    height: var(--grid-size);
    width: var(--grid-size);
    border-top: 1px solid rgb(192, 192, 241);
    border-right: 1px solid rgb(192, 192, 241);
    margin: var(--grid-border);
}

.grid-row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
    background-color: white;
    border-left: 1px solid rgb(192, 192, 241);
    border-bottom: 1px solid rgb(192, 192, 241);
}

/* -------------------------------------------------- */
/* -------------- C O L O R --P A N E L ------------- */
/* -------------------------------------------------- */
.color-container {
    border-radius: 5px;
    background-color: var(--panel-color);
    box-shadow: var(--box-shadow);
}

.color-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--panel-size); 
    height: 18vmin;
    padding: 3vw;
    gap: 0.4rem;
}

/* ----------- Color --- V A L U E S ------------ */

.color-values {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-around;
    align-items: flex-end;
    min-width: 3ch;
}

.color-values > div {
    font-size: 4vmin;
    font-family: var(--secondary-font)
}



/* -------- H S L  ---  S L I D E R S ----------- */

.color-sliders {
    flex:10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

#hue-range, 
#sat-range,
#light-range {
    height: 3vmin;
    width: 100%;
}

.hue-slider-container,
.sat-slider-container,
.light-slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#hue-range {
    background-color: #e5340b;
    background-image: linear-gradient(to right, 
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%));
}

#sat-range {
    background-color: transparent;
    background-image: linear-gradient(to right,
    hsl(var(--hue), 0%, var(--light)),
    hsl(var(--hue), 100%, var(--light))
    );
}

#light-range {
    background-color: transparent;
    background-image: linear-gradient(to right,
    hsl(var(--hue), var(--sat), 0%),
    hsl(var(--hue), var(--sat), 50%),
    hsl(var(--hue), var(--sat), 100%)
    );
}

/* ----------- H S L  ---  T H U M B S ------------ */

.slider#hue-range::-webkit-slider-thumb,
.slider#sat-range::-webkit-slider-thumb,
.slider#light-range::-webkit-slider-thumb  {
    -webkit-appearance: none; 
    appearance: none;
    background: #36362d;
    width: 1vmin; 
    height: var(--thumb-size-color);
    border: none;
    border-radius: 4px;
}

.slider#hue-range::-moz-range-thumb,
.slider#sat-range::-moz-range-thumb,
.slider#light-range::-moz-range-thumb  {
    background: #36362d;
    width: 1vmin; 
    border: none;
    height: var(--thumb-size-color);
    border-radius: 4px;
}

.slider#hue-range::-webkit-slider-thumb:hover,
.slider#sat-range::-webkit-slider-thumb:hover,
.slider#light-range::-webkit-slider-thumb:hover {
    background-color: transparent;
    border: 1px solid grey;
    box-shadow: 0px 0px 1vmin 0.3vmin grey;


}

.slider#hue-range::-moz-range-thumb:hover,
.slider#sat-range::-moz-range-thumb:hover,
.slider#light-range::-moz-range-thumb:hover {
    background-color: transparent;
    border: 1px solid grey;
    box-shadow: 0px 0px 1vmin 0.3vmin grey;

}

/* ------------- Color --- S A M P L E --------------- */

.hue-canvas{
    flex:1;
    align-self: stretch;
    min-width: 2rem;
    background-color: hsl(0, 100%, 50%);
}
