:root {
    --color: hsl(17, 100%, 89%);
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

/* ----------------------------------------------------- */

body {
    background-color: #fff7e8;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}


/* ----------------------------------------------------- */

.color {
    background: --color;
}

/* ---------------------title--------------------------- */

.game-title {
    color: black;
    font-size: 2.8rem;
    font-family: 'Fascinate', cursive;
    text-align: center;
}

/* ----------------------grid-------------------------- */

.grid-container {
    display: flex;
    flex-direction: column;
    background-color: #fff7e8;
    border-radius: 5px;
    box-shadow: 0 0 0 6px #FFE7BD,
        0 0 0 12px #e5340b,
        0 0 0 18px #0b0835,
        0 0 0 24px #0c5679,
        0 0 0 30px #3f8a8c;
    height: 80vmin;
    width: 80vmin;
    margin-bottom: 50px;
    border-top: 1px solid rgb(192, 192, 241);
    border-right: 1px solid rgb(192, 192, 241);
}

/* @media screen and (orientation: landscape) {
    @media (max-height:600px) {
        .grid-container {
            height: 85vh;
            width: 85vh;
        }
    }

    @media (min-height: 601px) {
        .grid-container {
            height: 75vh;
            width: 75vh;
        }
    }
} */


.grid-row {
    flex: 1;
    display: flex;
    
}

.square {
    flex: 1;
    background-color: white;
    border-left: 1px solid rgb(192, 192, 241);
    border-bottom: 1px solid rgb(192, 192, 241);
    /* transition-delay: 0.2s; */
}


/* --------------------slider-------------------------- */

.size-slider-container,
.hue-slider-container,
.sat-slider-container,
.light-slider-container {
    width: calc(80vmin + 60px);
    display: flex;
    justify-content: center;
}


.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 10px;
}


/* ----------size slider----------- */

.slider#size-range {
    background:#0b0835;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider#size-range:hover {
    opacity: 0.9;
}


.slider#size-range::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    background:#3f8a8c;
}

.slider#size-range::-moz-range-thumb {
    background:#3f8a8c;
    width: 20px; 
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* ----------hue slider----------- */

.slider#hue-range {
    background-color: #e5340b;
    background-image: linear-gradient(to right, 
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%));
    height: 20px;
    width: 100%;
}

.slider#hue-range::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background: #36362d;
    width: 8px; 
    height: 30px;
    border-radius: 4px;
}

.slider#hue-range::-moz-range-thumb {
    background: #36362d;
    width: 8px; 
    height: 30px;
    border-radius: 4px;
}


/* ---------------saturation slider */
.slider#sat-range {
    background-color: transparent;
    background-image: linear-gradient(to right, 
    hsl(0, 0%, 50%),
    hsl(0, 100%, 50%));
    height: 20px;
    width: 100%;
}

.slider#sat-range::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background: #36362d;
    width: 8px; 
    height: 30px;
    border-radius: 4px;
}

.slider#sat-range::-moz-range-thumb {
    background: #36362d;
    width: 8px; 
    height: 30px;
    border-radius: 4px;
}


/* ---------------lightness slider */
.slider#light-range {
    background-color: transparent;
    background-image: linear-gradient(to right, 
    hsl(0, 100%, 0%),
    hsl(0, 100%, 50%),
    hsl(0, 100%, 100%));
    height: 20px;
    width: 100%;
}

.slider#light-range::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background: #36362d;
    width: 8px; 
    height: 30px;
    border-radius: 4px;
}

.slider#light-range::-moz-range-thumb {
    background: #36362d;
    width: 8px; 
    height: 30px;
    border-radius: 4px;
}

/* -------------hue chosen color--------------- */

.hue-canvas{
    height:50px;
    width: 150px;
    background-color: hsl(0, 100%, 50%);
}