:root {
    --color: hsl(39, 100%, 95%);
    --hue: 0;
    --sat: 100%;
    --light: 50%;
    --gridsize: calc(80vmin + 60px);
    --gap: 0.7rem;
}

* {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

/* ----------------------------------------------------- */

body {
    background-color: var(--color);
    color: black;
    display: flex;
    justify-content: center;
}


.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

/* -------------------title-btn-grid-------------------- */

.title-btn-grid-container {
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
    gap: var(--gap);

}

.btn-grid-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    border: 3px solid red;

}

/* ---------------------title--------------------------- */
.title-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid red; */
}

.game-title {
    color: black;
    /* font-size: 2.6rem; */
    font-size: 10vw;
    font-family: 'Fascinate', cursive;
    width: calc(80vmin + 60px);   
    text-align: center; 
    /* border: 1px solid pink; */
    /* margin: 0; */

}


/* --------------------------buttons and grid---------- */


/* --------------------buttons------------------------- */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc(80vmin + 60px);
    box-shadow: inset 3px 3px 5px rgba(70, 70, 70, 0.8),
                inset -3px -3px 5px rgba(255, 255, 255, 0.5);
    padding: 7px;
    /* margin-bottom: 30px; */
    border-radius: 7px;
    background-color: #ffe4b6;
    font-family: 'Caladea';
    font-weight: 700;


}

button {
    border-radius: 50%;
    box-shadow: -5px -5px 7px rgba(248, 246, 241, 0.5),
                5px 5px 7px rgba(70, 70, 70, 0.15);
    background-color: #ffe4b6;
    height: 10vw;
    width: 10vw;
    border: calc(7vw * 0.15) solid #ffe4b6;
}

button:active, button:focus, button:hover {
    box-shadow: -5px -5px 7px rgba(255, 255, 255, 0.5),
                5px 5px 7px rgba(70, 70, 70, 0.12),
                inset -5px -5px 7px rgba(255, 255, 255, 0.5),
                inset 5px 5px 7px rgba(70, 70, 70, 0.12);
}

.clear-btn-cont,
.default-btn-cont,
.random-btn-cont,
.erase-btn-cont,
.darken-btn-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top:20px;
}



/* -----------left panel------------- */
.left-panel {
    border: 2px solid yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap);
}


@media screen and (orientation: landscape) {
    .buttons {
        display: flex;
        flex-direction: column;
        max-width: 170px;
        /* margin: 0px 25px; */
        align-self: flex-end;
        /* border: 1px solid saddlebrown; */
    }

    .clear-btn-cont,
    .default-btn-cont,
    .random-btn-cont,
    .erase-btn-cont,
    .darken-btn-cont {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        /* border: 1px solid saddlebrown; */
    }


    button {
        max-height: 7.77vh;
        max-width: 7.77vh;
        border: calc(7.77vh * 0.15) solid #ffe4b6;

    }
}
/* ----------------------grid-------------------------- */

.grid-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color);
    border-radius: 5px;
    box-shadow: 0 0 0 6px #FFE7BD,
        0 0 0 12px #e5340b,
        0 0 0 18px #0b0835,
        0 0 0 24px #0c5679,
        0 0 0 30px #3f8a8c;
    height: 80vmin;
    width: 80vmin;
    border-top: 1px solid rgb(192, 192, 241);
    border-right: 1px solid rgb(192, 192, 241);
    margin: 30px;
}


.grid-row {
    flex: 1;
    display: flex;
    
}

.square {
    flex: 1;
    background-color: white;
    border-left: 1px solid rgb(192, 192, 241);
    border-bottom: 1px solid rgb(192, 192, 241);
    /* transition-delay: 0.2s; */
}



/* --------------------slider-------------------------- */

.slider {
    -webkit-appearance: none;
    appearance: none;
}


/* ---------color-panel----------- */

.color-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: calc(80vmin + 60px); 
    /* border: 1px solid salmon; */
    /* margin: 10px 0px; */
    padding: 15px;
    border-radius: 5px;
    background-color: #ffe4b6;
    box-shadow: inset 3px 3px 5px rgba(70, 70, 70, 0.8),
                inset -3px -3px 5px rgba(255, 255, 255, 0.5);
    gap: 0.4rem;

}

.color-values {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-around;
    align-items: flex-end;
    min-width: 2rem;
}

.color-sliders {
    flex:10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 90px;
    /* margin-left: 4px;
    margin-right: 8px; */
    /* border: 1px solid red; */
}



#hue-range, 
#sat-range,
#light-range {
    height: 20px;
    width: 100%;
}

/* -------------hue chosen color--------------- */

.hue-canvas{
    flex:1;
    align-self: stretch;
    min-width: 2rem;
    /* margin: 4px; */
    background-color: hsl(0, 100%, 50%);
}

/* ------------------color sliders-------- */
.hue-slider-container,
.sat-slider-container,
.light-slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider#hue-range::-webkit-slider-thumb,
.slider#sat-range::-webkit-slider-thumb,
.slider#light-range::-webkit-slider-thumb  {
    -webkit-appearance: none; 
    appearance: none;
    background: #36362d;
    width: 8px; 
    height: 30px;
    border-radius: 4px;
}

.slider#hue-range::-moz-range-thumb,
.slider#sat-range::-moz-range-thumb,
.slider#light-range::-moz-range-thumb  {
    background: #36362d;
    width: 8px; 
    height: 30px;
    border-radius: 4px;
}

/* ----------hue slider----------- */

.slider#hue-range {
    background-color: #e5340b;
    background-image: linear-gradient(to right, 
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%));

}


/* ---------------saturation slider */
.slider#sat-range {
    background-color: transparent;
    background-image: linear-gradient(to right,
    hsl(var(--hue), 0%, var(--light)),
    hsl(var(--hue), 100%, var(--light))
    );
}

/* ---------------lightness slider */
.slider#light-range {
    background-color: transparent;
    background-image: linear-gradient(to right,
    hsl(var(--hue), var(--sat), 0%),
    hsl(var(--hue), var(--sat), 50%),
    hsl(var(--hue), var(--sat), 100%)
    );
}

/*----------------media---*/
@media screen and (orientation: landscape) {
    .color-container {
        /* border: 5px solid salmon; */
        width: 150px;
        height: 70vh;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid saddlebrown;

    }
    .color-panel {
        width: 70vh;
        transform: rotate(270deg) ;
        box-shadow: inset -3px 3px 5px rgba(70, 70, 70, 0.8),
                    inset 3px -3px 5px rgba(255, 255, 255, 0.5);
        /* border: 2px solid salmon; */
        
   }

    .color-sliders {    
        width: 70vh;
    } 
}

/* ----------size slider----------- */
.size-panel {
    width: calc(80vmin + 60px);
    display: flex;
    justify-content: stretch;
    align-items: center;
    /* margin: 10px 0px 25px; */
    height: 50px;
    padding: 0.35rem;
    padding-left: 0.75rem;
    border-radius: 5px;
    background-color: #ffe4b6;
    /* border: 2px solid red; */
    box-shadow: inset 3px 3px 5px rgba(70, 70, 70, 0.8),
                inset -3px -3px 5px rgba(255, 255, 255, 0.5);
}

.size-slider-wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
}

.slider#size-range {
    height: 10px;
    width: 60vmin;
    background:#0b0835;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.slider#size-range:hover {
    opacity: 0.9;
}


.slider#size-range::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    background:#3f8a8c;
}

.slider#size-range::-moz-range-thumb {
    background:#3f8a8c;
    width: 20px; 
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* ------------------media--------------- */
@media screen and (orientation: landscape) {
    
    .big-container {
        flex-direction: row;
        align-items: flex-start;  
        /* border: 2px solid greenyellow; */
    }


    .title-btn-grid-container {
        flex: 5;
        /* border: 3px solid saddlebrown; */
        /* height: 100vh ; */
        height: 100vh;
    }

    .game-title {
        font-size: 10vh;
        
    }

    .title-container {
        align-self: flex-end;
        justify-content: flex-end;
        /* border: 1px solid saddlebrown; */
        width: calc(70vh + 60px);
        
    }
    
    .btn-grid-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        /* border: 3px dashed blue; */
    }



    .grid-container {
        height: 70vh;
        width: 70vh;
    }
/* --------------------------------------------------- */




    .size-slider-wrapper {
        flex: none;
        min-width: 130px;
        /* border: 3px solid fuchsia; */
    }

    .size-panel {
        justify-content: space-around;
        max-width: 170px;
        height: 50px;
        /* margin: 0px; */
        /* margin-top: 10px; */

        padding: 10px;
        /* border: 2px dashed #e5340b; */
    }


    .left-panel {
        /* border: 1px solid saddlebrown; */
        align-self: flex-start;

    }
 
 
    .slider#size-range {
        max-width: 120px;

    } 
}



